.btn {
    padding: 10px;
    width: 100%;
    color: white;
    border:  none;
    background-color: blue;
    cursor: pointer;
}


.btn:disabled {
    background-color: red;
    
}
    .btn:hover{
        background-color: rgba(118, 178, 132, 0.48);
    }